.delete-booking {
  display: grid;
  justify-items: center;
  gap: 1ch;

  text-align: center;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: unset;
  }

  p.secondary {
    font-size: 1.2rem;
  }

  li.booking-item {
    background-color: var(--background-quaternary);
    grid-auto-flow: column;
    grid-template-areas:
      "destination arrival"
      "pickup arrival";

    .booking-to-destination,
    .booking-from-pickup {
      text-align: left;
    }

    time {
      text-align: end;
    }
  }

  p.muted {
    font-size: 1rem;
    text-decoration: underline;
  }

  .button-container {
    justify-self: end;
  }
}

dialog[open]:has(.delete-booking) {
  max-width: 35em;

  @media screen and (max-width: 400px) {
    max-width: 100vw;
  }
}