.citizens-page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  margin: 0 1rem;

  > * {
    background-color: var(--background-secondary);
    border-radius: 0.5rem;
    padding: 1rem;
  }
}