$site-header-padding: .5em;
$heading-fz: 1.25rem;
$heading-margin: .25ch;
$para-fz: .75rem;

.site-header {
  display: flex;
  flex-direction: column;
  padding: $site-header-padding;
  background-color: var(--background-secondary);
  // height: calc(
  //   #{$site-header-padding} * 2 
  //   + #{$heading-fz} 
  //   + #{$heading-margin} * 2
  //   + #{$para-fz});

  &:has(.login-container[data-logged-in=true]) {
    gap: 1.25em;
  }

  @media screen and (min-width: 768px) {
    &:has(.login-container[data-logged-in=true]) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      .brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      button {
        margin-left: auto;
      }
    }
  }
}

.brand {
  display: grid;
  place-items: center;

  h1 {
    font-size: $heading-fz;
    margin-bottom: $heading-margin;
  }

  p {
    color: var(--text-secondary);
    font-size: $para-fz;
  }
}