@keyframes slide-in-rtl {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-rtl {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(110%);
  }
}

@keyframes loading-rtl {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}