// Dark gradient theme
$background-primary: #2B2B2B;
$background-secondary: #303030;
$background-tertiary: #3F3F3F;
$background-quaternary: #4B4B4B;

// Light gradient theme
$text-primary: #eee;
$text-secondary: #B9B9B9;
$text-tertiary: #999;
$text-quaternary: #888;

// Additional text colors
$text-muted: #7f7f7f;
$text-link: #767ED4;

// Brand colors
$brand-primary: #822432;
$brand-secondary: #CB1524;
$brand-alt: #6B9AB5;

// CRUD colors
$crud-create: #4B9E5C;
$crud-update: #B09E5C;
$crud-delete: #EC4C64;