@use './colors' as clrs;
@use './mixins' as mixins;

@layer base;

@layer base {
  @import './components/index.scss';
  @import './theme.scss';

  *, *::before, *::after {
    box-sizing: border-box;
    position: relative;
    margin: unset;
    @include mixins.transition();
  }

  :root {
    --text-muted: clrs.$text-muted;
    --text-link: clrs.$text-link;

    --brand-primary: clrs.$brand-primary;
    --brand-secondary: clrs.$brand-secondary;

    --crud-update: clrs.$crud-update;
    --crud-delete: clrs.$crud-delete;

    font-size: 16px;
    font-family: Arial;
  }

  body {
    background-color: var(--background-primary);
    color: var(--text-primary);
  }

  #root {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr auto; // Header, Content, Footer
  }

  a {
    color: var(--text-link);
  }
}