<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/550d4eb5-0053-444a-92d6-abb591cabee3/resourcegroups/citizentaxi/providers/Microsoft.Web/sites/citizentaxiapi</ResourceId>
    <ResourceGroup>citizentaxi</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://citizentaxiapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9e920db2-dab7-47f4-be43-a4c4920ab7f1</ProjectGuid>
    <PublishUrl>https://citizentaxiapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$citizentaxiapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>