.entity-delete-modal {
  .button-container {
    flex-direction: row;
    justify-content: flex-end;
  }

  &:has(.citizen-card) {
    max-width: unset;
  }

  .citizen-card {
    grid-template-rows: 5em;

    h1 {
      text-align: left;
    }

    .button-container {
      display: none;
    }
  }
}