.citizen-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, calc(50% - .5em));
  }
}

.admin-overview {
  margin-inline: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  >header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2em);

    h1 {
      margin: unset;
    }
  }
}