.citizen-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(35em, 1fr));
  gap: 1em;
}

.admin-overview {
  margin-inline: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  >header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    h1 {
      margin: unset;
    }

    a {
      position: absolute;
      left: 0;
      top: 1em
    }

    .sub-header button {
      font-size: 1.5rem;
    }
  }

  >footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 100%;
  }
}